/* navbar */
nav{
    background-color: white;
}
nav a{
    color:black !important;
    font-weight:bold;
    font-size:14px;
    text-decoration:none !important;
    line-height:1;
    text-transform: uppercase;

}

nav a:first-child{
    border-radius:2px 0 0 2px;
}

nav a:last-child{
    border-radius:0 2px 2px 0;
}
/* navbar */
.dark{
    background-color: black;
    height: 100px;
    font-weight: 900;
    font-size: 35px;
}

footer{
    background-color: black;
    height: 130px;
    font-size: 20px;
}
#main{
    background-color: rgb(49, 138, 49);
}

.card{
    border-radius: 0px;
    border:  transparent;
    box-shadow: 10px 10px 10px black;
}
